
h2 {
    font-family: Shabnam;
}

.about-us {
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 550px; */
}

.about-us-Con {
    padding: 15px;
    /*background-color: rgb(255, 231, 231);*/
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
}

.about-us-Con h1 {
    margin-bottom: 14px;
}

.about-us-Con p {
    margin-bottom: 4px;
    font-size: 19px;
}

@media screen and (max-width: 400px) {
    .about-us-Con p{
        font-size: 14px;
    }
}